# Environments
.env
.env.*
!.env.example

# Python
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/

# Node
node_modules/
dist/
.DS_Store

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
