project_id       = "rfpengine"
region           = "us-central1"
app_name         = "rfpengine"
credentials_file = "../gcp-key.json" # Optional: service account key file

# Neon PostgreSQL Connection URL
database_url     = "postgresql://neondb_owner:your_password@ep-rapid-truth-...neon.tech/neondb?sslmode=require"

# API Keys (Optional)
openai_api_key   = ""
pinecone_api_key = ""

cors_origins          = "http://localhost:5173,https://your-domain.com"
elasticsearch_url     = "https://my-deployment.es.us-central1.gcp.elastic.cloud:443"
elasticsearch_index   = "rfq_knowledge_base"
elasticsearch_api_key = ""

pinecone_index        = "rfq-knowledge-base"
pinecone_cloud        = "aws"
pinecone_region       = "us-east-1"
pinecone_api_key = "pcsk_2pJmKx_DNaj9RWhSqpwYtB9eutCbvR8pmxqoaFUEhvrvcbYr8V3AjnF2WMf9iUVTUg1xbC"